@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-inter);
}

@theme {
  --color-primary-25: #f6f8fe;
  --color-primary-50: #e8eeff;
  --color-primary-100: #c9d9ff;
  --color-primary-200: #98b6ff;
  --color-primary-300: #779eff;
  --color-primary-400: #5687ff;
  --color-primary-500: #306cfe;
  --color-primary-600: #2459db;
  --color-primary-700: #1948bd;
  --color-primary-800: #0e379e;
  --color-primary-900: #032782;

  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #eaecf0;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;

  --color-light-gray-25: #fdfdfe;
  --color-light-gray-50: #fdfdfd;
  --color-light-gray-100: #fcfcfd;
  --color-light-gray-200: #fbfbfc;
  --color-light-gray-300: #f8f8fa;
  --color-light-gray-400: #f5f5f8;
  --color-light-gray-500: #f2f2f5;
  --color-light-gray-600: #efeff3;
  --color-light-gray-700: #efeff3;
  --color-light-gray-800: #eeeef2;
  --color-light-gray-900: #ececf1;

  --color-dark-blue-25: #6a89d6;
  --color-dark-blue-50: #607ec6;
  --color-dark-blue-100: #5572b7;
  --color-dark-blue-200: #4b66a8;
  --color-dark-blue-300: #374f89;
  --color-dark-blue-400: #22376b;
  --color-dark-blue-500: #0e204c;
  --color-dark-blue-600: #0b1a3d;
  --color-dark-blue-700: #08132e;
  --color-dark-blue-800: #060d1e;
  --color-dark-blue-900: #040a17;

  --color-light-blue-25: #fbfcff;
  --color-light-blue-50: #f9fbff;
  --color-light-blue-100: #f7f9ff;
  --color-light-blue-200: #f5f8ff;
  --color-light-blue-300: #f0f4ff;
  --color-light-blue-400: #ebf1ff;
  --color-light-blue-500: #e6edff;
  --color-light-blue-600: #e4ebff;
  --color-light-blue-700: #e1eaff;
  --color-light-blue-800: #dfe8ff;
  --color-light-blue-900: #dce6ff;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;

  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;

  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-200: #a6f4c5;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-800: #05603a;
  --color-success-900: #000000;

  --breakpoint-xs: 0px;
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1144px;
  --breakpoint-2xl: 1200px;
  --breakpoint-3xl: 1440px;
  --breakpoint-4xl: 1600px;
  --breakpoint-5xl: 1920px;
}
